In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import math

In [2]:
df_list = []
for i in range(100):
    batch_df = pd.read_csv(f'NewStock/NewStock_Sentiment_Batch_{i:03d}.csv', index_col=0)
    df_list.append(batch_df)
df_main = pd.concat(df_list)
df_main.shape

(6447459, 3)

In [4]:
df_main.Symbol.value_counts()

TSLA     1798559
AAPL     1231463
NFLX      666007
QQQ       592262
AMZN      450386
DIS       245475
DIA       188601
VIX       188402
BAC       164955
SPY       151985
GOOG      135367
FB        111101
GOOGL     107910
T          68788
HD         52424
V          50100
VZ         49401
JNJ        38445
ADBE       36582
BRK.B      33547
PG         31413
UNH        16049
INTC       15329
WMT        11699
BRK.A      11209
Name: Symbol, dtype: int64

In [3]:
df_main.head()

         Date Symbol  Sentiment
0  2020-07-19   AAPL   0.941510
1  2020-07-19   AAPL   1.000000
2  2020-07-19   AAPL   1.000000
3  2020-07-19   AAPL   0.995287
4  2020-07-19   AAPL   1.000000

In [11]:
df = df_main.groupby(by=['Symbol', 'Date'], as_index=True).mean()

In [15]:
df.to_csv('final_s.csv')